@(stage : String)
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Flex Content Migrator</title>
    </head>
    <body>
        <h1>Flex Content Migrator (@stage)</h1>

        <h2>Migrations</h2>
        <ul>
            <li><a href="article">Migrate an article</a></li>
        </ul>

        <h2>Health</h2>
        <ul>
            <!--<li><a href="http://gu-radiator.appspot.com/TODO.html" rel="radiator">Radiator</a></li>--> <!-- TODO -->
            <li><a href="https://riffraff.gutools.co.uk/deployment/history?projectName=flex-content-migrator&page=1" rel="deploys">Deploys</a></li>
        </ul>

        <h2>Project</h2>
        <ul>
                <!--<li>Live app: <a href="https://media.gutools.co.uk/">PROD</a>, <a href="https://media.test.dev-gutools.co.uk/">TEST</a></li>--> <!-- TODO-->
            <li><a href="https://github.com/guardian/flex-content-migrator" rel="repository">Code on Github</a></li>
                <!--<li><a href="https://gu-radiator.appspot.com/media-service-usage/index.html" rel="kpi-dashboard">KPI dashboard</a></li>--> <!-- TODO -->
            <li><a href="https://docs.google.com/document/d/1pN6wsjI-H_BYe6wNyf75KEmLKJ0oOGt0hadTtZ8Yehk" rel="project">Project Plan</a></li>
        </ul>

        <h2>Contact</h2>

        <p><a href="mailto:robert.rees@@theguardian.com" rel="contact">Development team</a></p>
    </body>
</html>
